@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Monoton&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  transform: none;
  zoom: 1;
  scrollbar-color: #e6e6e6 transparent;
  overflow-x: hidden;
}


body {
  font-family: "Inter";
  background-repeat: no-repeat;
  background-color:  #faf3ed;
}

header {
  height: 100px;
  width: 100vw;
  background-color:  #faf3ed;
  opacity: 1;
  z-index: 4;
}

.navbar {
  position: absolute;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  z-index: 5;
}

.navbar a{
  color: rgb(0, 0, 0);
}

.navbar .logo{
  font-size: 2em;
  font-weight: bold;
  z-index: 5;
  color: rgb(0, 0, 0);
}

.navbar .nav-links ul {
  display: flex;
}

.navbar .nav-links ul li{
  margin: 0 25px;
}

.navbar ul li a:hover {
  color: #ed3c57;
}

.navbar .menu {
  display: none;
}

@media screen and (max-width: 900px) {
  
  .navbar {
    padding: 0;
  }
 
  .navbar .menu {
    top: 30px;
    right: 30px;
    width: 30px;
    display: block;
    z-index: 99;
  }
  .nav-links {
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(250, 243, 237, 0.95);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    transition: all 0.5s ease;
  }
  .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar .nav-links ul li{
    margin: 25px 0;
    font-size: 1.5em;
  }

  .nav-links.mobile-menu {
    margin-left: 0;
  }
  
  .navbar {
    padding: 25px; 
  }

  header {
    height: 75px;
    width: 100vw;
    background-color: #faf3ed;
    opacity: 1;
    z-index: 4;
  }

  .navbar .logo{
    font-size: 20px;
    font-weight: bold;
    z-index: 5;
    color: rgb(0, 0, 0);
  }
}
/*********************      header      ********************/
/**********************************************************/

.img-header {
  display: flex;
  width: 100%;
  height: 600px;
  text-align: center;
  justify-content: center;
}


.img-container {
  height: 100%;
  display: flex;
  background-image: url(img/header-pc.jpg);
  opacity: 0.85;
  width: 95%;
  border-radius: 15px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  object-fit: cover;
}

.boxe {
  width: 100%;
  height: 100%;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxe .container {
  width: 100%;
  height: 300px;
  opacity: 1;
  text-align: center;
}

.boxe .container p{
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 12em;
  font-size: 1.5em;
  color: white;
  font-weight: bold;
}

.boxe .container .arrow{
  transition: transform 0.3s ease-in-out;
}

.boxe .container .arrow:hover{
  transform: translateY(10px);
}

/***********************************/


.titre {
  color: #b8b8b8;
  margin-left: 5%;
  margin-right: 5%;
  max-width: 90%;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  margin-top: 40px;
  padding-bottom: 10px;
  font-size: 2.3em;
  text-align: center;
  justify-content: center;
}

.text-queyras-phone {
  display: none;
  color: #575757;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  max-width: 90%;
  span {
    font-weight: bold;
  }
}

.text-queyras-pc {
  color: #575757;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  max-width: 70%;
  span {
    font-weight: bold;
  }
}

@media screen and (max-width: 900px) {
  .titre {
    font-size: 1.7em;
  }
  .text-queyras-phone {
    display: block;
  }
  .text-queyras-pc {
    display: none;
  }
  .img-header {
    height: 500px;
  }
}


/*********************************/

.box-article-3 {
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.article-3 {
  display: flex;
  width: 100%;
}

.article-3 > div {
  display: flex;
  width: 33.33%; /* Taille initiale des boîtes */
  transition: width 0.3s ease;
}

.article-3 > div:hover {
  width: 50%; /* Taille des boîtes survolées */
}

.article-3 > div:not(:hover) {
  width: 33.33%; /* Taille des autres boîtes */
}

.img-boxe1, .img-boxe2, .img-boxe3 {
  width: 100%; /* Assurez-vous que les images prennent la largeur de la boîte parente */
  transition: width 0.3s ease;
}

.img1 {
  border-radius: 30px 0 0 30px;
}

.img3 {
  border-radius: 0 30px 30px 0;
}

.img1, .img2, .img3 {
  height: 300px;
  object-fit: cover;
  width: 100%;
}

.text1, .text2, .text3 {
  text-align: left;
  margin-top: 10px;
  opacity: 0;
  display: flex;
  transition: opacity 0.5s ease;
}

.article-3 > div:hover .text1,
.article-3 > div:hover .text2,
.article-3 > div:hover .text3 {
  opacity: 1;
}

.text1 p, .text2 p, .text3 p {
  width: 50%;
  color: #6b6b6b;
}

.text1 h2, .text2 h2, .text3 h2 {
  width: 50%;
}


@media screen and (max-width: 1300px) {
  .text1, .text2, .text3 {
    opacity: 1 !important;
  }
  .text1 p, .text2 p, .text3 p {
    opacity: 0;
  }
  
  .text1 h2, .text2 h2, .text3 h2 {
    opacity: 1 !important;
    margin-left: 50px;
    margin-bottom: 20px;
  }
  .article-3 {
    position: relative;
    flex-direction: column;
  }
  .article-3 > div {
    position: relative;
    display: flex;
    width: 100% !important;
    transition: width 0.3s ease;
  }
  .article-3 > div:hover {
    width: 100% !important;
  }
  
  .article-3 > div:not(:hover) {
    width: 100% !important;
  }
  .img1, .img2, .img3 {
    
    border-radius: 30px;
  }
}

@media screen and (max-width: 700px) {
  .img1, .img2, .img3 {
    height: 200px !important;
  } 
}


/*  old hover effect on triple box
.img-boxe1, .img-boxe2, .img-boxe3 {
  transition: transform 0.3s ease-in-out;
}

.img-boxe1:hover, .img-boxe2:hover, .img-boxe3:hover {
  transform: translateY(-20px);
}
*/

/**************************************/


/*responsive footer*/
@media screen and (max-width: 900px) {
  footer .map-container {
    width: 100vw !important;
  }

  footer .container {
    width: 100vw !important;
  }

  footer {
    height: 70vh !important;
    flex-direction: column !important;
  }
  footer iframe {
    height: 100% !important;
    width: 100% !important;
  }
  footer .container {
    height: 50vh !important;
  }
}

footer {
  display: flex;
  width: 100vw;
  height: 30vh;
  background-color: rgb(48, 42, 42);
  align-items: center;
}

footer .map-container {
  height: 30vh;
  width: 50%;
  color: #b8b8b8;
  background-color: #534c46;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .container {
  height: 30vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: #b8b8b8;
  background-color: #534c46;
}

footer iframe {
  height: 80%;
  width: 80%;
  object-fit: contain;
}

footer .logo {
  font-size: 2em;
  font-weight: bold;
  z-index: 5;
  color: white;
}

footer .icon {
  width: 100%;
}

footer .icon a img{
  width: 50px;
}

.lien-utile {
  margin-top: 10px;
  margin-left: 20%;
  margin-right: 20%;
  a {
    color: white;
  }
  a:hover {
    color:#ed3c57;
  }
}

/*************************************************/

.carousel-container {
  background-color: transparent;
}

.plante-container {
  display: flex;
  align-items: center;
}

.plante1 {
  margin-top: 300px;
  background-image: url(img/plantes/plante4.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  height: 300px;
  width: 25%;
}

.plante2 {
  background-image: url(img/plantes/plante5-resize.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-size: contain;
  height: 300px;
  width: 25%;
}

.carousel {
  width: 50%;
  margin-top: 50px;
  margin-bottom: 25px;
}

@media screen and (max-width: 1100px) {
  .plante1 {
    display: none;
  }
  .carousel {
    width: 60%;
  }
  .plante2 {
    width: 40%;
  }
  .plante-container {
    margin-left: 10%;
  }
}

@media screen and (max-width: 800px) {
  .plante-container {
    flex-direction: column;
    margin: 0;
  }
  .carousel {
    width: 80%;
  }
  .plante2 {
    height: 200px;
    width: 40%;
    margin-bottom: 20px;
    background-image: url(img/plantes/plante6.png) !important;
  }
}

@media screen and (max-width: 600px) {
  ul.slides {
    height: 400px !important;
  }
}

.text-fin {
  color: #575757;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 100px;
  span {
    font-weight: bold;
  }
  a {
    color: #ed3c57;
  }
}

ul.slides {
  display: block;
  position: relative;
  height: 600px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.slides * {
  overflow-y: hidden;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

ul.slides input {
  display: none; 
}


.slide-container { 
  display: block; 
}

.slide-image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all .7s ease-in-out;
}   

.slide-image img {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}

.carousel-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 100px;
  line-height: 600px;
  color: #fff;
}

.carousel-controls label {
  display: none;
  position: absolute;
  padding: 0 20px;
  opacity: 0;
  transition: opacity .2s;
  cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
  opacity: 0.5;
}

.carousel-controls label:hover {
  opacity: 1;
}

.carousel-controls .prev-slide {
  width: 49%;
  text-align: left;
  left: 0;
}

.carousel-controls .next-slide {
  width: 49%;
  text-align: right;
  right: 0;
}

.carousel-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 999;
  text-align: center;
}

.carousel-dots .carousel-dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.5;
  margin: 10px;
}

input:checked + .slide-container .slide-image {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
   display: block; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }

.text-detail-appart {
  display: none;
  color: #575757;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  max-width: 90%;
  span {
    font-weight: bold;
  }
  margin-bottom: 50px;
}

/********************************/

.content {
  color: black;
  font-size: 10px;
  background-color: #ed3c57;
}

/********************************************/

#gradient-div {
  margin-top: 25px;
    position: static;
    background-color: rgb(250, 243, 237); /* Couleur initiale */
    transition: background-color 0.1s ease; /* Réduit la durée pour une réactivité accrue */
}

/********************/
#hidden-div {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transition douce */
}

#hidden-div.visible {
    opacity: 1;
    transform: translateX(0); /* Réinitialiser la translation */
}

@media screen and (min-width: 1600px) {
  .carousel-container {
    margin-left: 10%;
    margin-right: 10%;
  }
  .box-article-3 {
    margin-left: 15%;
    margin-right: 15%;
  }
}

/***********     form     **************/

.titre-resa {
  color: #b8b8b8;
  margin-left: 5%;
  margin-right: 5%;
  max-width: 90%;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  margin-top: 50px;
  padding-bottom: 10px;
  font-size: 1.5em;
  text-align: center;
  justify-content: center;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style du formulaire lui-même */
.form-resa {
  display: flex;
  flex-wrap: wrap; /* Permet de passer à la ligne si nécessaire */
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  padding: 20px;
  background-color: #e4d9cf;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
}

/* Style des éléments du formulaire */
.form-resa div {
  margin: 15px;
  text-align: left;
}

.form-resa label {
  font-weight: 500;
  color: #ffffff;
}

.form-resa select,
.form-resa input[type="email"],
.form-resa input[type="date"] {
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}

.bouton-resa {
  text-align: center;
}

.bouton-resa input[type="submit"] {
  padding: 15px;
  background-color: #112e3f;
  color: #ffffff;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: ease 0.2s;
  border: solid 1px #112e3f;
}

.bouton-resa input[type="submit"]:hover {
  background-color: #e5e5e5;
  color: #112e3f;
  border: solid 1px #112e3f;
}

@media screen and (max-width: 1200px) {
  .form-resa {
    flex-direction: column;
  }
  .form-resa div {
    width: 80%;
  }
  .bouton-resa input[type="submit"] {
    width: 100%;
  }
}

.form-resa select,
.form-resa input[type="email"],
.form-resa input[type="text"],
.form-resa input[type="date"] {
  height: 35px;
  color: #000000; /* Couleur du texte à l'intérieur des champs */
  background-color: #ffffff; /* Couleur de fond des champs */
}

.form-resa input::placeholder {
  color: #888888; /* Couleur du texte des placeholders */
  opacity: 1; /* Assure que l'opacité est complète (1 = 100%) */
}

.form-resa input[type="date"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
}
