@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  transform: none;
  zoom: 1;
}

body {
  font-family: "Inter";
  background-repeat: no-repeat;
}

header {
  height: 100px;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  opacity: 1;
  z-index: 4;
}

@media screen and (max-width: 900px) {
  
header {
  top: 0px;
  height: 75px !important;
  position: fixed !important;
}
.navbar .logo{
  font-size: 20px !important;
  position: fixed !important;
  top: 25px !important;
  left: 15px !important;
}
.navbar .menu {
  top: 25px !important;
  right: 15px !important;
  width: 30px !important;
  position: fixed;
}
}

.img-container-header {
  display: flex;
  top: 0;
  background-color: black;
  width: 100%;
  justify-content: center;
}

.photo-header {
  width: 100%;
  background-image: url(img/header-pc.jpg);
}


.contact-fixe {
  display: none;
  position: fixed;
  top: 90%;
  left: -20px;
  padding: 15px 15px 15px 45px;
  border-radius: 0 10px 10px 0;
  background-color: #ed3c57;
  transition: transform 0.3s ease-in-out;
}

.contact-fixe:hover {
  transform: translateX(20px);
}

.navbar {
  position: absolute;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  z-index: 5;
}

.navbar a{
  color: white;
}

.navbar .logo{
  font-size: 2em;
  font-weight: bold;
  z-index: 5;
  color: white;
}

.navbar .nav-links ul {
  display: flex;
}

.navbar .nav-links ul li{
  margin: 0 25px;
}

.navbar ul li a:hover {
  color: #ed3c57;
}

.navbar .menu {
  display: none;
  top: 45px;
  right: 50px;
  width: 50px;
  position: absolute;
}

@media screen and (max-width: 900px) {
  
  .navbar {
    padding: 0;
  }
  .navbar .menu {
    display: block;
    position: fixed;
    z-index: 99;
  }
  .nav-links {
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    transition: all 0.5s ease;
  }
  .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar .nav-links ul li{
    margin: 25px 0;
    font-size: 1.5em;
  }

  .nav-links.mobile-menu {
    margin-left: 0;
  }

  body {
    background-position-x: +100%
  }
}

.boxe {
  width: 100vw;
  height: 500px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxe .container {
  width: 50vh;
  height: 300px;
  opacity: 1;
  text-align: center;
}

.boxe .container p{
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 12em;
  font-size: 1.5em;
  color: white;
  font-weight: bold;
}

.boxe .container .arrow{
  transition: transform 0.3s ease-in-out;
}

.boxe .container .arrow:hover{
  transform: translateY(10px);
}


/* style article */
.article {
  margin: 50px 10vw 50px 10vw;
  width: auto;
  height: auto;
  display: flex;
  border-radius: 50px;
  background-color: #534c46;
}

.article .case-text {
  width: 50vw;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article .case-text .case-deco{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);*/
}

.article .case-text .case-deco h1{
  color: white;
}

.article .case-text .case-deco p{
  span {
    font-weight: bold;
  }
  text-align: center;
  margin-top: 10px;
  max-width: 70%;
  color: white;
}

.article .case-text .case-deco .bouton-google{
  margin-top: 30px;
  background-color: #6FAD34;
  color: black;
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
}

.article .case-text .case-deco .bouton-google:hover{
  background-color: #7fc43f;
}


.article .case-img {
  width: 50vw;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article .case-img img{
  height: 90%;
  width: 90%;
  object-fit: contain;
}

/*responsive footer*/
@media screen and (max-width: 900px) {
  footer .map-container {
    width: 100vw !important;
  }

  footer .container {
    width: 100vw !important;
  }

  footer {
    height: 40vh !important;
    flex-direction: column !important;
  }
  footer iframe {
    height: 100% !important;
    width: 100% !important;
  }
}

footer {
  display: flex;
  width: 100vw;
  height: 30vh;
  background-color: rgb(48, 42, 42);
  align-items: center;
}

footer .map-container {
  height: 30vh;
  width: 50%;
  color: #b8b8b8;
  background-color: #534c46;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .container {
  height: 30vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: #b8b8b8;
  background-color: #534c46;
}

footer iframe {
  height: 80%;
  width: 80%;
  object-fit: contain;
}

footer .logo {
  font-size: 2em;
  font-weight: bold;
  z-index: 5;
  color: white;
}

footer .icon {
  width: 100%;
  height: 50px;
}

footer .icon a img{
  width: 50px;
}

/**/

/*galley*/

.gallery-bg {
  width: 100%;
  height: 100%;
  background-image: url(img/gallery/observatoire.webp);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  width: 100%;
  background-color: rgba(48, 42, 42, 0.7); /* Black color with 50% opacity */
  z-index: 0;
}

@media screen and (max-width: 900px) {
  .gallery-bg {
    background-position: -200px;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center; /* Center the thumbnails */
  padding: 10px; /* Add some padding around the gallery */
  z-index: 1;
}

.thumbnail {
  flex: 1 1 calc(33.333% - 20px); /* Adjust the width of thumbnails */
  max-width: calc(33.333% - 20px);
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.thumbnail img {
  width: 100%;
  height: auto; /* Maintain the aspect ratio */
  cursor: pointer;
  border-radius: 8px; /* Add some border-radius to the images */
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
}

.lightbox-content {
  position: relative;
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.lightbox-content img {
  width: 100%;
  height: auto; /* Maintain the aspect ratio */
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.3s;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .thumbnail {
      flex: 1 1 calc(50% - 20px); /* 2 columns on medium screens */
      max-width: calc(50% - 20px);
  }

  .lightbox-content {
      width: 90%;
  }
}

@media (max-width: 480px) {
  .thumbnail {
      flex: 1 1 calc(100% - 20px); /* 1 column on small screens */
      max-width: calc(100% - 20px);
  }

  .close {
      font-size: 30px;
      top: 10px;
      right: 20px;
  }

  .prev,
  .next {
      font-size: 18px;
      padding: 12px;
  }
}

/*article-test*/

.article-test {
  height: 600px;
  width: 100%;
  background-color: aqua;
}